html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		title F I N D E R
		link(rel="stylesheet", type="text/css", href="stylesheets/bases.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js")
	body(onload="init()")
		#header(onload="Justify()")
			p#title
				| FINDER
				br
			// <p id="position">0|0</p>
		#center
			h1 Versaille
			h2 France
			h3 4 days
			h4 589£
			#photo
				.pageOption
					a.option(href="#")
						iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d286097.73446835385!2d-3.160635!3d55.929636!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5425e9a1c1036f0!2sEdinburgh+Napier+University!5e0!3m2!1sen!2suk!4v1504779332434", width="100%", height="450", frameborder="0", style="border:0", allowfullscreen="")
						a.option(href="#", data-inf="AIRBNB")
							img(src="salon.jpg")
		script(src="javascripts/bases.js")
