doctype html
html
	head
		meta(charset="UTF-8")
		title Airbnb finder
		link(rel="stylesheet", href="stylesheets/style.css")
		meta(name="viewport", content="width=device-width, initial-scale-1.0")
	body.body
		.mainbody
			.mainHeader
				img(src="images/image1.jpg")
			hr
			.mainContent
				h2(align="center") Finder
				br
				form(method="post", action="find.html")
					table(align="center", width="378")
						tr
							td Number of people
							td
								input(type="number", name="numpeople", min="1", max="15", required="")
						tr
							td Your Price
							td
								input(type="number", name="price", min="100", max="10000", step="50", required="")
						tr
							td Strating Date
							td
								input#startdate(type="date", required="")
						hr
						tr
							td(align="center")
								input.button(type="submit", value="Submit")
								input.button(type="reset", values="Reset")
				footer.mainfooter

	script.
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1;
		var yyyy = today.getFullYear();
		if(dd<10)
		{
		dd='0'+dd;
		}
		if(mm<10)
		{
		mm='0'+mm;
		}
		today = yyyy+'-'+mm+'-'+dd;
		console.log(today);
		document.getElementById("startdate").setAttribute("min", today);
