body{
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body * {
    align-items: center;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#header{
  position: absolute;
  width: 100%;
}

#title {
  color: white;
  background-color: rgb(81, 115, 119);
  font-size: 500%;
  transition: 2s;
  width:100%;
  display: none;
}

#title *{
  transition: 2s;
}

#position{
  position: fixed;
  bottom: 0;
  left: 0;
}

#center {
  color: rgb(25,25,25);
  letter-spacing: 150%;
  position: fixed;
  width: 41em;
  height: 30em;
  margin: 6% 25%;
  background-color: rgb(214,214,214);
  border-radius: 2%;
  padding: 1%;
  transition: background-color 1s;
}

*{
  transition: 0s;
  transition: border-width 1s top 2s;
  transition-timing-function: ease-in-out;
}

#photo{
  width: 40em;
  background-color: rgb(115, 115, 115);
  border: solid;
  border-color: rgb(115, 115, 115);
  border-radius: 0.2em;
}

.pageOption {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 40em; height: 27em;
}
.option, .option img { width: 100%; height: 100%; }
.option {
  overflow: hidden;
  position: absolute;
  /* arctan(27 / 40) = 34.01935deg
   * need to skew by 90deg - 34.01935deg = 55.98065deg
  */

}

.option:first-child {
  left: -.25em;
  transform-origin: 100% 0;
}
.option:last-child {
  transform: skewX(-55.98deg);
  right: -.25em;
  transform-origin: 0 100%;
}
.option img {transition: .5s; }
.option img:hover { opacity: 1; }
.option img, .option:after {
  transform: skewX(55.98deg);
  transform-origin: inherit;
}
.option:after {
  position: absolute;
  margin: .5em 1.65em;
  color: rgb(25,25,25);
  font: 500 1.25em;
  letter-spacing: .1em;
  text-transform: uppercase;
  content: attr(data-inf);
}
.option:first-child:after { top: 0; left: 0; }
.option:last-child:after { right: 0; bottom: 0; }
