body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}



#override-bootstrap .myStartPause{
    margin-top: 35px;
    background-color: ghostwhite;
    border-color: lightslategrey;
}

#override-bootstrap .myH1{
    font-size: 100px;
    margin-bottom: 25px;
}

#override-bootstrap .myJumbotron{
    padding-top:5px;
    padding-bottom: 35px;
    background-color: #fff;
    margin-top:20px;
}


#override-bootstrap .myBtn{
    background-color: ghostwhite;
    border-color: lightslategrey;
}

#timer-list{
}

#override-bootstrap .list-group-item {
    border-radius: 5px 5px 5px 5px;
    border-color:#c7c7e6;
    display:inline-block;
}
#override-bootstrap .timer-tag{
    margin-top:6px;
}
#override-bootstrap .tag-btn{
    margin-top:12px;
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

#override-bootstrap .notification-button{
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}
body{
    background-color: #FAFAFA;
}

h2 span{
    color:#c7c7e6;
}

#block-list{

}