
/* CSS Document */

body
{
	font-size: 87.5%;
	font-family: Ariel,'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
.body
{
	background-color:#d5dbdb;
	margin: 0 auto;
	width:70%;
	clear:both;
}
.mainbody
{
	background-color:#CF5C3F;
	margin: 0 auto;
}
.mainHeader
{
	
	width:80%;
	clear:both;
	margin:2% 2%;
}


.mainContent
{
	line-height:25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.content
{
	background-color:#fdfefe;
	align-content: center;
	width:100%;
	float:left;
}
.content table
{
	align-content: center;
}

.content h2
{
	align-content: center;
	
}
.button
{
	align-items: center;
}

.mainfooter
{
	width:100%;
	height:auto;
	float:left;
	background-color: #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0;
}

.mainfooter p
{
	width: 92%;
	margin :10px auto;
	color: #FFF;
}

@media only screen and (min-windth: 150px) and (max-width: 600px);
{
	.body
	{
		width:90%;
		font-size:95%;

	}

	.mainHeader img
	{
		width: 100%;

	}
	.content
	{

		width:100%;
		float:left;
		margin-top:2%;
	}
	.content table
	{
		align-content: center;
	}



}
